/* From uiverse.io by @alexruix */
/* From uiverse.io by @alexruix */
.editInput {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 70%
   }
   
   .editInput:focus, .editInput:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   
   .editInput::placeholder {
    color: #777;
   }
   
   .editInput:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   .editModal {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .editModal:hover {
    background-color: #1877f2;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .editModal:active {
    transform: translateY(-1px);
  }
  .close {
    position: absolute;
    top: -5px;
    right: 20px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
   
   
   
   
   