.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: white;
  /* background-color: #1877f2; */
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  z-index: 999;
}

.topbarLeft {
  flex: 3;
  display: flex;
  align-items: center;
}

.logo {
  flex: 2;
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: var(--primary);
  /* color: white; */
  cursor: pointer;
}

.topbarCenter {
  flex: 5;
}

.searchbar {
  width: 100%;
  height: 30px;
  background-color: #f0f2f5;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 30%;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.topbarLink {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.logoIcon {
  color: var(--black);
}
/* Notification */
.wrapperNotification {
  width: 328px;
  /* padding: 8px; */
}
.titleNotification {
  font-size: 26px;
  font-weight: 700;
  padding: 8px;
}
.searchMessengerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px grey;
  border-radius: 10px;
  padding: 4px 12px;
  background-color: #f0f2f5;
  margin: 15px;
}
.searchInput {
  flex: 1;
  background-color: #f0f2f5;
}
.logoSearch {
  text-align: center;
  margin: auto 0;
  padding-top: 3px;
}
.wrapperItems {
}
.bodyNotification {
  display: flex;
  padding: 0 8px;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 10px;
  position: relative;
}
.bodyNotification:hover {
  background-color: rgba(22, 24, 35, 0.03);
  cursor: pointer;
}
.wrapperImageMessage {
  width: 56px;
  height: 56px;
  position: relative;
  margin-right: 8px;
}
.imageNotification {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  object-fit: cover;
}

.contentNotification strong {
  font-weight: 600;
}

.containerContentNotification {
  font-weight: 600;
}
.contentNotification {
  margin-top: 0;
  word-break: break-word;
  font-weight: 400;
}

.timeNotification {
  font-size: 13px;
  color: hsl(214, 89%, 52%);
}

.tickView {
  width: 12px;
  height: 12px;
  background-color: var(--primary);
  border-radius: 100%;
  position: absolute;
  right: 0;
  transform: translateX(-100%);
}
