.img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}
.top {
}

.center {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
  align-items: flex-end;
}
.title {
  font-size: 28px;
  font-weight: 700;
}

.action {
}
.btnJoin {
  padding: 8px 12px;
  min-inline-size: 170px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  &:hover {
    opacity: 0.9;
  }
}
.bottom {
}
