.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  display: none;
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.textarea {
  border: none;
  padding: 3%;
  width: 70%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary);
  padding: 5px;
  display: inline-block;
  border-width: 4px;
  border-color: var(--primary);
  width: 15%;
}

.sendButton:hover,
.uploadButton:hover {
  background: #5e2899;
}

.uploadButton {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--primary);
  padding: 10px;
  display: inline-block;
  border: 5px outset var(--primary);
}

.uploadImage {
  width: 32px;
}
.shareImgMessage {
  height: 5vh;
  object-fit: cover;
}
