.homeContainer{
    display: flex;
    width: 100%;
}
.crop { 
    overflow:hidden; 
    white-space: pre-wrap ;
    text-overflow : ellipsis;
    overflow-y: auto;
    max-width: 20em;
    max-height: 20em;
}