.wrapperPopper {
  width: 100%;
  max-height: calc(100vh - 100px);
  min-height: calc(100vh - 100px);
  margin-top: 8px;
  background-color: rgb(255, 255, 255);
  /* box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px; */
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
